* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

table {
  width: 100vw;
  height: 100vh;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  width: 50%;
  padding: clamp(16px, 6vw, 40px) !important;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: clamp(18px, 4vw, 42px);
}